<%- include("templates/header") %> 
<h2 class="border-bottom border-info pb-2" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Let's Tune Your Recommendations!</h2>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <div class="list-group">
        <% for(i = 0; i < songs.length; i++) { %>
            <div class="list-group-item">
                <h4 class="d-flex justify-content-start"> <%= songs[i].name %> </h4>
                <div class="rectangle" style="height: 150px; width: 400px; background-color: gray; border-radius: 10px; margin-top: 20px;">
                    <h4>[Spotify Embed Placeholder]</h4>
                </div>
                <br/>
                <div class="d-flex">
                    <span class="material-icons me-auto" style="font-size: 30pt;">star</span>
                    <button type="button" class="likeButton" id=<%= songs[i]._id + "_like"%> style="background: transparent; border: none;">
                        <span class="material-icons" style="color: <%- script.liked(userLikesDislikes, songs[i]._id) %>; font-size: 30pt; margin-right: 10px;">thumb_up</span>
                    </button>
                    <button type="button" class="dislikeButton" id=<%= songs[i]._id + "_dislike"%> style="background: transparent; border: none;">
                        <span class="material-icons" style="color: <%- script.disliked(userLikesDislikes, songs[i]._id) %>; font-size: 30pt;">thumb_down</span>
                    </button>
                </div>
            </div>
        <% } %>
    </div>
</div>
<p style="color: darkgray; font-style: italic;">Refresh to tune again with different songs</p>
<br/>
<script src="/scripts/recommendationsTuning.js"></script>
<script>
    $('body').on('click', '.likeButton', async function() {
        await like(this.id);
        var color = $(this).children("span").css("color");
        if (color == "rgb(0, 0, 0)") {
            $(this).children("span").css("color", "blue");
        } else if (color == "rgb(0, 0, 255)") {
            $(this).children("span").css("color", "black");
        }
        var dislikeId = "#" + this.id[0] + "_dislike";
        color = $(dislikeId).children("span").css("color");
        if (color == "rgb(0, 0, 255)") {
            $(dislikeId).children("span").css("color", "black");
        }
    });

    function like(id) {
        axios.get(`/like/${id}`).then(function(response) {
            console.log(response);
            return response();
        }).catch(function(error) {
            console.error(error);
        });
    };

    $('body').on('click', '.dislikeButton', async function() {
        await dislike(this.id);
        var color = $(this).children("span").css("color");
        if (color == "rgb(0, 0, 0)") {
            $(this).children("span").css("color", "blue");
        } else if (color == "rgb(0, 0, 255)") {
            $(this).children("span").css("color", "black");
        }
        var likeId = "#" + this.id[0] + "_like";
        color = $(likeId).children("span").css("color");
        if (color == "rgb(0, 0, 255)") {
            $(likeId).children("span").css("color", "black");
        }
    });

    function dislike(id) {
        axios.get(`/dislike/${id}`).then(function(response) {
            console.log(response);
            return(response);
        }).catch(function(error) {
            console.error(error);
        });
    };
</script>
<%- include("templates/footer") %> 
