<%- include("templates/header") %>
    Please answer your security question to reset your password.
    <br><br>
    <form action='/checkSecurityQuestion' method='post'>
        <div class="mb-3">

            <label name="<%=securityQuestion%>" for="securityQuestion" class="form-label">
                <%=securityQuestion%>
            </label>
        </div>
        <div class="mb-3">
            <label for="securityAnswer" class="form-label">Security Answer</label>
            <input name='securityAnswer' type="text" class="form-control" id="securityAnswer"
                placeholder='Answer'></input>
        </div>
        <input name='email' type="hidden" value="<%= email %>"></input>
        <button class="btn btn-outline-primary">Submit</button>
    </form>
    <%- include("templates/footer") %>